n8n_workflow.json
{
  "name": "Christos Cakes Automation (Twilio WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cake-orders",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "webhookId": "cake-orders-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.type }}",
              "value2": "SEND_INVOICE"
            }
          ]
        }
      },
      "name": "Is Invoice Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        300
      ]
    },
    {
      "parameters": {
        "from": "whatsapp:+14155238886",
        "to": "whatsapp:+YOUR_ADMIN_PHONE_NUMBER",
        "message": "🎂 *New Bespoke Order Received!*\n\n*Customer:* {{ $json.customerName }}\n*Size:* {{ $json.size }}\n*Flavor:* {{ $json.flavor }}\n*Date:* {{ $json.deliveryDate }}\n*Message:* {{ $json.messageOnCake }}\n\nView in Admin Portal: {{ $json.appUrl }}/#/admin"
      },
      "name": "Notify Admin (WhatsApp)",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        600,
        450
      ]
    },
    {
      "parameters": {
        "from": "whatsapp:+14155238886",
        "to": "=whatsapp:{{ $json.phone }}",
        "message": "🧾 *Your Christos Cakes Invoice is Ready!*\n\nHi {{ $json.customerName }},\n\nThe baker has reviewed your bespoke cake order and your invoice is now ready.\n\n*Total Amount:* £{{ $json.totalPrice }}\n\n*View & Pay Invoice:* {{ $json.appUrl }}#/invoice/{{ $json.id }}\n\nThank you for choosing Christos Cakes!"
      },
      "name": "Send Client Invoice (WhatsApp)",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        600,
        150
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Invoice Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Invoice Request?": {
      "main": [
        [
          {
            "node": "Send Client Invoice (WhatsApp)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Admin (WhatsApp)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Client Invoice (WhatsApp)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin (WhatsApp)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "christos-cakes-automation-twilio"
}
